{%extends "layout.html"%}
{% set active_page = "Page 3" %}
{%block title%}About{%endblock%}
{%block content%}
<h1>About the Data</h1>
<p>The following data set is summarized information obtained about states in the United States from 2007 through 2014 through the United States Census Bureau. However, this data is not available for these years; just the summarized data as of 2015. Information described in the data includes the age distributions, the education levels, employment statistics, ethnicity percents, household information, income, and other miscellneous statistics.</p>
<a href="https://think.cs.vt.edu/corgis/json/state_demographics/state_demographics.html"></a>
{%endblock%}
